.css-1v603wu-MuiResponsiveChart-container>svg{
    width: 100% !important;
    height: 106% !important;
}
.css-1v603wu-MuiResponsiveChart-container{
    width: 160px !important;
    height: 80px !important;
}