.main-chart{
display: flex;
justify-content: center;
    border-radius: 8px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        height: 410px;
            margin-top: 20px;
}
.doughnut{
    height: 350px;
    width: 350px;
}