.main-table {
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}

.table-container {
    margin: 20px;
    overflow-x: auto;
}
.delete{
    color: red;
    font-size: 25px;
    cursor: pointer;
}
.table>tbody {
    vertical-align: middle !important;
}

.main-nav-header {
    display: flex;
    height: 67px;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-weight: bold;
}

.dropdown-toggle::after {
    display: none !important;
   
}
.dropdown{
    font-size: 20px;
}
.dropdown-menu[data-bs-popper] {
    left: -154px !important;
    color: red;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.table-head th {
    background-color: #989ea61a !important;
    color: rgba(121, 112, 112, 0.658) !important;
    font-size: 13px;
}

.custom-table th,
.custom-table td {
    text-align: center;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
}

.name-cell {
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.status-cell.successful {
    color: green;
}

.status-cell.pending {
    color: orange;
}