.task-head {
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    flex-wrap: nowrap;
    animation: fadeInDown 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.taskbtn {
    border: none !important;
    background: #19455c !important;
    display: flex !important;
    align-items: center !important;
    padding: 0%;
    height: 25px;
    border-radius: 150px !important;
    margin-left: 20px;
    animation: bounceIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    
}


.d-flex.flex-wrap {
    animation: fadeInUp 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    20% {
        opacity: 1;
        transform: scale(1.1);
    }

    40% {
        transform: scale(0.9);
    }

    60% {
        opacity: 1;
        transform: scale(1.03);
    }

    80% {
        transform: scale(0.97);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}